<p>
  View scopes provide a new way to represent a view as data. In addition, six
  methods have been written to provide the ability to manipulate
  view scopes. A detailed explanation of scopes can be found
  <a href="https://groups.google.com/d/topic/pakyow/QL-8qemEN6A/discussion">here</a>.
  Follow the links below to learn more about each view manipulation method.
</p>

<ul>
  <li>
    <a href="/scopes/with">View#with</a>
  </li>
  
  <li>
    <a href="/scopes/for">View#for</a>
  </li>

  <li>
    <a href="/scopes/match">View#match</a>
  </li>

  <li>
    <a href="/scopes/repeat">View#repeat</a>
  </li>

  <li>
    <a href="/scopes/bind">View#bind</a>
  </li>

  <li>
    <a href="/scopes/apply">View#apply</a>
  </li>

</ul>
