<html>
<head>
  <title>pakyow-0.8</title>

  <link rel="stylesheet" type="text/css" media="screen, projection" href="http://pakyow.com/stylesheets/screen.css">
  <script type="text/javascript" src="http://use.typekit.com/eig1kgb.js"></script><script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <div id="wrapper">
    <ul id="navigation">
      <li>
        <a href="/">Intro</a>
      </li>

      <li>
        <a href="/routing">Routing</a>
      </li>

      <li>
        <a href="/bindings">Bindings</a>
      </li>

      <li>
        <a href="/presenter">Presenter API</a>
      </li>

      <li>
        <a href="/scopes">View Scopes/Manipulation</a>
      </li>

      <li>
        <a href="/parsers">View Parsers</a>
      </li>
    </ul>

    <div data-container="main">
      Content Goes Here
    </div>
  </div>
</body>
</html>
